/* Header *********************************************************************/

$brand-primary: #D5D5D5; /* header background color */

#wrapper {
  #top-menu {
    background: #111;
    a {
      color: #FFF;
      font-weight: normal;
      &:hover {
        color: #85C7FF;
      }
    }
    /* hide "Logged in as" */
    #loggedas {
      color: transparent;
      pointer-events: none;
      a {
        pointer-events: auto;
      }
    }
  }
  #header {
    background-image: url('/themes/PurpleMine2/images/logo-morpht.svg'); /* fallback */
    background-image: url('/themes/PurpleMine2/images/logo-morpht.svg'), linear-gradient(#E6E6E6, #D5D5D5); /* W3C */
    background-repeat: no-repeat, repeat-x;
    background-position: 20px 5px, 0 0;
    background-size: auto 38px;
    @media (max-width: 899px) {
      background-position: 15px 13px, 0 0;
      background-color: #D5D5D5;
    }
    a.mobile-toggle-button {
      color: #333;
      border-left: #ccc;
    }
    h1 {
      color: #333;
      font-size: 1.5em;
      font-weight: normal;
      margin-left: 170px !important;
      border-left: 1px solid #BCBCBC;
    }
    #quick-search {
      @media (max-width: 899px) {
        display: none;
      }
    }
    #quick-search,
    #quick-search a,
    #quick-search select {
      color: #333;
    }
  }
  #header > h1 > .root {
    color: #333;
  }
}

/* Login **********************************************************************/

#wrapper {
  .button-login-text {
    background-image: none;
  }
}

/* My Page -> Issues assigned to me *******************************************/

/* Hide "New issue" link by default */
a.icon.new-issue {
  display: none;
}
/* Only show "New issue" link on project pages */
body[class^="theme-Purplemine2 project-"] a.icon.new-issue {
  display: inline-block;
}

/* Bestest Timer **************************************************************/

.bestest_timer_button:not(:hover) {
  background-color: grey !important;
  box-shadow: 0 1px 0 #555 !important;
}

.bestest_timer_button {
  height: inherit !important;
}
