//
// Variables
// --------------------------------------------------


//== Some key attributes
//

$fixed-layout:                  false !default;
$flexbox-layout:                true !default;
$sidebar-position:              left !default;
$color-priorities:              true !default;
$color-trackers:                true !default;
$colored-issue:                 true !default;
$color-status:                  true !default;
$use-gravatars:                 true !default;
$use-font-awesome:              true !default;
$use-logo:                      false !default;
$use-retina-logo:               false !default;
$use-project-tiles:             true !default;
$issue-subject-large:           true !default;
$enable-sidebar-toggler:        true !default;
$wiki-page-more-vertical-space: true !default;
$top-menu-collapse:             false !default;


//== Colors
//

$gray-base:                     #808080 !default;
$gray-darkest:                  darken($gray-base, 40%) !default;
$gray-darker:                   darken($gray-base, 33%) !default;
$gray-dark:                     darken($gray-base, 17%) !default;
$gray:                          $gray-base !default;
$gray-light:                    lighten($gray-base, 17%) !default;
$gray-lighter:                  lighten($gray-base, 35%) !default;
$gray-lightest:                 lighten($gray-base, 46%) !default;

$brand-primary:                 #584492 !default;
$brand-text:                    #fff !default;
$brand-accent:                  #deddef !default;

$brand-success:                 #019851 !default;
$brand-info:                    #409ae3 !default;
$brand-warning:                 #ed820c !default;
$brand-danger:                  #e74c3c !default;

$state-success:                 #b5fbb7 !default;
$state-info:                    #97cefb !default;
$state-warning:                 #ffd699 !default;
$state-danger:                  #f7a6a4 !default;


//== Scaffolding
//

$body-bg:                       #fff !default;
$text-color:                    $gray-dark !default;

$link-color:                    #4183c4 !default;
$link-hover-color:              darken($link-color, 10%) !default;
$link-hover-decoration:         underline !default;
$link-closed-decoration:        line-through !default;
$link-color-issue-closed:       $gray !default;
$link-color-project-closed:     $gray !default;
$link-color-user-locked:        $gray !default;


//== Typography
//

$font-family-sans-serif:        "Helvetica Neue", Helvetica, Arial, freesans, sans-serif !default;

$font-family-monospace:         Consolas, "Liberation Mono", Menlo, "Courier New", Courier, monospace !default;
$font-family-base:              $font-family-sans-serif !default;
$font-weight-normal:            normal !default;
$font-weight-bold:              bold !default;

$font-size-base:                14px !default;
$font-size-large:               1.285em !default;
$font-size-large-px:            18px !default;
$font-size-small-unitless:      .86 !default;
$font-size-small:               $font-size-small-unitless * 1em !default;
$font-size-small-px:            floor($font-size-small-unitless * $font-size-base) !default;

$font-size-h1:                  2.25em !default;
$font-size-h2:                  1.75em !default;
$font-size-h3:                  1.5em !default;
$font-size-h4:                  1.286em !default;
$font-size-h5:                  1em !default;
$font-size-h6:                  1em !default;

$line-height-base:              1.428571429 !default; // 20/14
$line-height-large:             1.33 !default;
$line-height-computed:          floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-weight:          700 !default;
$headings-line-height:          1.4 !default;
$headings-anchor-color:         $gray-lighter !default;
$headings-anchor-color-active:  $gray-light !default;


//== Wiki
//

$wiki-text:                     #333 !default;
$wiki-font-size:                16px !default;
$wiki-line-height:              1.6 !default;

$toc-active-link:               darken($link-color, 10%) !default;
$toc-active-link-hover:         darken($toc-active-link, 10%) !default;
$toc-active-border:             $link-color !default;


//== Components
//

$padding-base-vertical:         6px !default;
$padding-base-horizontal:       12px !default;
$padding-large-vertical:        10px !default;
$padding-large-horizontal:      16px !default;
$padding-small-vertical:        5px !default;
$padding-small-horizontal:      10px !default;

$padding-side:                  20px !default;
$padding-wiki:                  20px !default;

$border-radius-base:            3px !default;
$border-radius-large:           4px !default;
$border-radius-small:           2px !default;

$hr-border:                     $gray-light !default;
$abbr-border-color:             $gray-light !default;
$blockquote-border-color:       rgba(#000, .15) !default;

$component-color:               $gray-dark !default;
$component-bg:                  lighten($gray-lightest, 2%) !default;
$component-border:              lighten($gray-lighter, 2%) !default;

$component-active-color:        $brand-text !default;
$component-active-bg:           $brand-primary !default;
$component-active-border:       $brand-primary !default;

$font-size-list:                .92em !default;

$collapsible-animation-time:    .3s !default;


//== Tables
//

$table-cell-padding:            8px !default;
$table-condensed-cell-padding:  5px !default;

$table-list-header-border:      0 0 2px !default;
$table-list-item-border:        0 0 1px !default;
$table-list-color-odd-rows:     true !default;
$table-list-color-even-rows:    false !default;
$table-list-highlight-rows:     false !default;

$table-bg:                      transparent !default;
$table-accent-factor:           .03 !default;
$table-hover-factor:            .03 !default;
$table-bg-accent:               rgba(#000, $table-accent-factor) !default;
$table-bg-hover:                rgba(#000, $table-hover-factor) !default;
$table-bg-active:               $table-bg-hover !default;

$table-border-color:            darken($body-bg, 13.5%) !default;


//== Trackers priorities
//

$priority-lowest-bg:            #dff4d0 !default;
$priority-lowest-text:          #676 !default;
$priority-lowest-link:          #096 !default;

$priority-default-bg:           #fff !default;
$priority-default-text:         $text-color !default;
$priority-default-link:         $link-color !default;

$priority-high3-bg:             #d5eaff !default;
$priority-high3-text:           #556 !default;
$priority-high3-link:           #05a !default;

$priority-high2-bg:             #ffe1d7 !default;
$priority-high2-text:           #855 !default;
$priority-high2-link:           #b04 !default;

$priority-highest-bg:           #ffa5a5 !default;
$priority-highest-text:         #944 !default;
$priority-highest-link:         #a03 !default;


//== Trackers links
//

$tracker-inline-padding:        1px 5px !default;
$tracker-list-padding:          0 6px !default;

$tracker-default-bg:            #668 !default;
$tracker-default-text:          $brand-text !default;

$tracker-default-colors-map: (
  1: (
    background:                 $brand-danger,
    color:                      $brand-text
  ),
  2: (
    background:                 $brand-info,
    color:                      $brand-text
  ),
  3: (
    background:                 $brand-success,
    color:                      $brand-text
  ),
  4: (
    background:                 $brand-primary,
    color:                      $brand-text
  ),
  5: (
    background:                 $brand-warning,
    color:                      $brand-text
  ),
  6: (
    background:                 mix($brand-success, $brand-info, 50%),
    color:                      $brand-text
  ),
  7: (
    background:                 mix($brand-primary, $brand-warning, 50%),
    color:                      $brand-text
  )
) !default;
$tracker-custom-colors-map:     () !default;
$tracker-colors-map:            map-merge($tracker-default-colors-map, $tracker-custom-colors-map);


//== Diffs
//

$diff-out-color:                #511 !default;
$diff-out-bg:                   #fbb !default;
$diff-out-bg-light:             rgba($diff-out-bg, .3) !default;

$diff-in-color:                 #350 !default;
$diff-in-bg:                    #afa !default;
$diff-in-bg-light:              rgba($diff-in-bg, .3) !default;


//== Journal changes
//

$journal-old-value-color:       #430 !default;
$journal-old-value-bg:          rgba(#ffeaaa, .3) !default;
$journal-new-value-color:       #350 !default;
$journal-new-value-bg:          rgba(#bffbbf, .3) !default;


//== Changesets
//

$changeset-add-color:           $brand-success !default;
$changeset-modified-color:      $brand-warning !default;
$changeset-copied-color:        $brand-info !default;
$changeset-renamed-color:       $brand-primary !default;
$changeset-deleted-color:       $brand-danger !default;


//== Buttons
//

$btn-font-weight:               normal !default;
$btn-padding-vertical:          3px !default;
$btn-padding-horizontal:        12px !default;
$btn-padding-horizontal-small:  8px !default;

$btn-link-color:                $link-color !default;
$btn-link-bg:                   $body-bg !default;
$btn-link-border:               $body-bg !default;

$btn-default-color:             $gray-darkest !default;
$btn-default-bg:                $gray-lightest !default;
$btn-default-border:            $gray-lighter !default;

$btn-primary-color:             #fff !default;
$btn-primary-bg:                $brand-info !default;
$btn-primary-border:            $btn-primary-bg !default;

$btn-success-color:             #fff !default;
$btn-success-bg:                $brand-success !default;
$btn-success-border:            $btn-success-bg !default;


//== Highlights
//

$highlight-bg:                  #fff9c8 !default;
$highlight-border:              #ccb37b !default;
$highlight-text:                #755e40 !default;
$highlight-link:                #005f97 !default;


//== Forms
//

$input-bg:                      #fff !default;
$input-bg-disabled:             $gray-lighter !default;

$input-color:                   $gray-dark !default;
$input-border:                  #ccc !default;

$input-border-radius:           $border-radius-small !default;
$input-border-radius-large:     $border-radius-large !default;

$input-border-focus:            $brand-primary !default;
$input-border-focus-alpha:      .6 !default;
$input-shadow-focus-alpha:      .2 !default;
$input-color-placeholder:       #999 !default;

$input-padding-vertical:        $btn-padding-vertical !default;
$input-padding-horizontal:      8px !default;

$input-height-base:             ($line-height-computed + ($input-padding-vertical * 2) + 2) !default;

$label-width:                   160px !default;
$label-wide-width:              280px !default;
$label-space:                   10px !default;

$legend-color:                  $gray-dark !default;
$legend-border-color:           #e5e5e5 !default;

$check-list-max-height:         20 * $line-height-computed;
$check-list-offset-top:         $input-padding-vertical + 1px;

//== Top
//

$top-menu-bg:                   darken($brand-primary, 15%) !default;
$top-menu-text:                 $brand-accent !default;
$top-menu-link:                 $brand-accent !default;
$top-menu-link-hover:           $brand-text !default;

$header-bg:                     $brand-primary !default;
$header-text:                   $brand-text !default;
$header-link:                   $brand-text !default;
$header-root:                   $brand-accent !default;
$header-padding-vertical:       10px !default;
$header-padding-horizontal:     $padding-side !default;
$header-title-size:             $font-size-h3 !default;
$header-title-line-height:      $line-height-computed * 1.5 !default;

$responsive-header-height:      54px !default;

$flyout-menu-bg:                darken($header-bg, 15%) !default;
$flyout-menu-text:              #fff !default;
$flyout-menu-link:              #fff !default;
$flyout-menu-link-active-bg:    $header-bg !default;
$flyout-menu-link-active:       #fff !default;
$flyout-menu-header-bg:         darken($header-bg, 25%) !default;
$flyout-menu-header-border:     darken($header-bg, 25%) !default;
$flyout-menu-header-text:       #fff !default;

$quick-search-width:            200px !default;
$quick-search-border:           darken($header-bg, 15%) !default;
$quick-search-border-focus:     lighten($header-bg, 25%) !default;
$quick-search-box-width:        300px !default;
$quick-search-dropdown-bg:      $body-bg !default;
$quick-search-dropdown-border:  $gray-lighter !default;

$logo-image-width:              60px !default;
$logo-image-height:             40px !default;
$logo-position-horizontal:      $header-padding-vertical !default;
$logo-position-vertical:        center !default;
$logo-space:                    floor($header-padding-vertical / 2) !default;

$main-menu-bg:                  $gray-lightest !default;
$main-menu-bg-hover:            $gray-lightest !default;
$main-menu-link:                $gray-darker !default;
$main-menu-link-active:         #000 !default;
$main-menu-border:              $gray-lighter !default;
$main-menu-shadow-hover:        $gray-light !default;
$main-menu-shadow-width:        3px !default;
$main-menu-shadow-active:       $brand-primary !default;
$main-menu-padding-vertical:    $padding-large-vertical !default;
$main-menu-padding-horizontal:  5px !default;
$main-menu-dropdown-bg:         lighten($main-menu-bg, 3%);


//== Pagination
//

$pagination-padding-vertical:   $btn-padding-vertical !default;
$pagination-padding-horizontal: 10px !default;

$pagination-color:              $link-color !default;
$pagination-bg:                 #fafafa !default;
$pagination-border:             #ddd !default;

$pagination-hover-color:        $link-hover-color !default;
$pagination-hover-bg:           $gray-lightest !default;
$pagination-hover-border:       #bbb !default;

$pagination-active-color:       #fff !default;
$pagination-active-bg:          $brand-primary !default;
$pagination-active-border:      $brand-primary !default;

$pagination-inactive-color:     #ccc !default;
$pagination-inactive-bg:        #fff !default;
$pagination-inactive-border:    #eee !default;


//== Tabs
//

$tab-padding-vertical:          5px !default;
$tab-padding-horizontal:        8px !default;
$tab-border:                    $gray-lighter !default;
$tab-hover-bg:                  $gray-lightest !default;
$tab-hover-border:              $tab-hover-bg !default;
$tab-active-bg:                 $body-bg !default;
$tab-active-text:               $text-color !default;
$tab-active-border:             $tab-border !default;


//== Content and sidebar
//

$sidebar-width:                 270px !default;
$sidebar-padding-vertical:      $padding-base-vertical !default;
$sidebar-padding-horizontal:    $padding-side !default;
$sidebar-width-computed:        $sidebar-width - ($sidebar-padding-horizontal * 2) - 1px !default;
$sidebar-link-hover-bg:         $gray-lightest !default;
$sidebar-link-active-bg:        $body-bg !default;
$sidebar-link-active-border:    $gray-lighter !default;
$sidebar-link-active-side:      $brand-danger !default;
$sidebar-link-active-text:      $gray-darkest !default;


//== Flash messages (alerts)
//

$flash-success-bg:              #5cb85c !default;
$flash-success-border:          darken($flash-success-bg, 5%) !default;
$flash-success-text:            #fff !default;
$flash-success-link:            #fff !default;

$flash-warning-bg:              #fde3a7 !default;
$flash-warning-border:          darken($flash-warning-bg, 15%) !default;
$flash-warning-text:            #b45e10 !default;
$flash-warning-link:            #a0540e !default;

$flash-error-bg:                #d9534f !default;
$flash-error-border:            darken($flash-error-bg, 5%) !default;
$flash-error-text:              #fff !default;
$flash-error-link:              #fff !default;


//== Progress bars
//

$progress-bg:                   #fff !default;
$progress-bar-bg:               $brand-primary !default;
$progress-bar-success-bg:       lighten($brand-success, 10%) !default;
$progress-bar-danger-bg:        lighten($brand-danger, 10%) !default;
$progress-bar-info-bg:          lighten($brand-info, 20%) !default;


//== Panels
//

$panel-body-padding-vertical:   15px !default;
$panel-body-padding-horizontal: 15px !default;
$panel-body-padding:            $panel-body-padding-vertical $panel-body-padding-horizontal !default;
$panel-color:                   #555 !default;
$panel-bg:                      #f9f9f9 !default;
$panel-border:                  #ccc !default;
$panel-border-radius:           $border-radius-base !default;
$panel-shadow:                  0 1px 2px rgba(#000, .1),
                                0 3px 8px rgba(#000, .07) !default;


//== Tooltips
//

$tooltip-bg:                    #fff !default;
$tooltip-border-width:          0 !default;
$tooltip-border:                #ccc !default;
$tooltip-text:                  $gray-dark !default;
$tooltip-link:                  $link-color !default;


//== Issue
//

$issue-bg:                      #f9f9f9 !default;
$issue-border:                  #ccc !default;
$issue-text:                    $text-color !default;

$issue-padding:                 15px !default;
$issue-gravatar-size:           50px !default;
$issue-heading-size:            1.5 !default;

$issue-attribute-padding-v:     3px !default;
$issue-attribute-padding-h:     5px !default;


//== Speech "bubbles"
//

$bubble-gravatar-size:          24px !default;
$bubble-gravatar-space:         12px !default;
$bubble-padding-vertical:       8px !default;
$bubble-padding-horizontal:     15px !default;


//== Media queries breakpoints
//

$screen-xs:                     480px !default;
$screen-xs-min:                 $screen-xs !default;

$screen-sm:                     768px !default;
$screen-sm-min:                 $screen-sm !default;

$screen-md:                     992px !default;
$screen-md-min:                 $screen-md !default;

$screen-lg:                     1200px !default;
$screen-lg-min:                 $screen-lg !default;

$screen-xs-max:                 ($screen-sm-min - 1) !default;
$screen-sm-max:                 ($screen-md-min - 1) !default;
$screen-md-max:                 ($screen-lg-min - 1) !default;

$redmine-responsive-max:        899px !default;
$redmine-responsive-min:        900px !default;

$top-menu-collapse-breakpoint:  $screen-lg-min !default;


//== Login form
//

$login-form-width:              24em !default;
$login-form-label-width:        8em !default;
$login-form-box-breakpoint:     $screen-xs-min !default;
$login-form-adjustments-map: (
  -2: da en en-GB ko pl tr uk,
  1: fr hr nl sr-YU sv,
  2: el eu lt pt sk sr th
) !default;


//== Content widths
//

$width-sm:                      $screen-sm - ($padding-side * 2) !default;
$width-md:                      $screen-md - ($padding-side * 2) !default;
$width-lg:                      $screen-lg - ($padding-side * 2) !default;
