#main {
    @extend %clearfix;
}


//
// Main container
// --------------------------------------------------

#content {
    padding: $padding-side;
    overflow: hidden;
}


//
// Sidebar
// --------------------------------------------------

#sidebar {
    width: $sidebar-width - ($sidebar-padding-horizontal * 2) - 1px;
    padding: $padding-side $sidebar-padding-horizontal;
    float: $sidebar-position;

    @media screen and (min-width: 1px) {
        // scss-lint:disable VendorPrefixes
        $border: $sidebar-link-active-border;
        $body:   $body-bg;

        padding-bottom: $padding-side * 3;
        background-image: -webkit-linear-gradient($body 1%, $border 10%, $border 85%, $body);
        background-image:      -o-linear-gradient($body 1%, $border 10%, $border 85%, $body);
        background-image:         linear-gradient($body 1%, $border 10%, $border 85%, $body);
        background-repeat: no-repeat;
        background-size: 1px 100%;

        @if $sidebar-position == "left" {
            padding-right: $sidebar-padding-horizontal + 1px;
            background-position: right 0;
            box-shadow: inset -9px 0 6px -6px rgba(0, 0, 0, .05);
        } @else {
            padding-left: $sidebar-padding-horizontal + 1px;
            background-position: left 0;
            box-shadow: inset 9px 0 6px -6px rgba(0, 0, 0, .05);
        }
    }

    @if $hide-sidebar-on-screen-xs {
        @media screen and (max-width: $screen-xs-max) {
            display: none;
        }
    }

    .nosidebar & {
        width: 0;
        margin: 0;
        padding: 0;
        float: none;
    }

    h3 {
        margin-top: $line-height-computed * 1.5;
    }

    > h3:first-child,
    > form:first-child > h3 {
        margin-top: 0;
    }

    ul {
        margin: 0 0 ($line-height-computed / 2);
        padding: 0;

        @if $sidebar-position == "left" {
            margin-right: -($sidebar-padding-horizontal);
        } @else {
            margin-left: -($sidebar-padding-horizontal);
        }
    }

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > a {
            display: block;
            padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
            border: 1px solid transparent;

            @if $sidebar-position == "left" {
                border-left-width: 3px;
                border-radius: $border-radius-large 0 0 $border-radius-large;
            } @else {
                border-right-width: 3px;
                border-radius: 0 $border-radius-large $border-radius-large 0;
            }

            &:hover {
                background-color: $sidebar-link-hover-bg;
                text-decoration: none;
            }

            &.selected {
                border-color: $sidebar-link-active-border;
                background-color: $sidebar-link-active-bg;
                color: $sidebar-link-active-text;

                @if $sidebar-position == "left" {
                    margin-right: -1px;
                    border-right-color: $body-bg;
                    border-left-color: $sidebar-link-active-side;
                    box-shadow: -3px 1px 2px rgba(0, 0, 0, .1);
                } @else {
                    margin-left: -1px;
                    border-right-color: $sidebar-link-active-side;
                    border-left-color: $body-bg;
                    box-shadow: 3px 1px 2px rgba(0, 0, 0, .1);
                }
            }
        }
    }
}

#footer {
    margin: $line-height-computed $padding-side;
    padding-top: $line-height-computed;
    border-top: 1px solid $gray-lighter;
    color: $gray-light;
    font-size: $font-size-small;
}

@if $fixed-layout {
    @media screen and (min-width: $screen-sm-min) {
        #main-menu ul,
        #main {
            width: $width-sm;
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media screen and (min-width: $screen-md-min) {
        #main-menu ul,
        #main {
            width: $width-md;
        }
    }

    @media screen and (min-width: $screen-lg-min) {
        #main-menu ul,
        #main {
            width: $width-lg;
        }
    }

    #main-menu ul > li > a {
        padding: $main-menu-padding-vertical 1px;
    }
}
