//
// WYSIWYG icons
// --------------------------------------------------

.jstElements {
    @extend %clearfix;

    .box & {
        padding: 0;
    }

    button {
        margin-bottom: 5px;
        vertical-align: top;
        box-shadow: none;
    }

    .jstb_help {
        float: right;
        margin-right: 0;
        margin-left: -6px;
    }
}

@if $use-font-awesome
{
    .jstElements {
        button[type="button"] {
            padding: 0;
            color: $btn-default-color;
            background: $body-bg;
            background-image: none;
            @include fa-icon();

            &:before {
                text-align: center;
            }
        }

        .jstb_strong:before { content: $fa-var-bold; }
        .jstb_em:before     { content: $fa-var-italic; }
        .jstb_ins:before    { content: $fa-var-underline; }
        .jstb_del:before    { content: $fa-var-strikethrough; }
        .jstb_code:before   { content: $fa-var-code; }
        .jstb_h1:before     { content: $fa-var-header; }
        .jstb_h2:before     { content: $fa-var-header; font-size: 11px; }
        .jstb_h3:before     { content: $fa-var-header; font-size: 9px; }
        .jstb_ul:before     { content: $fa-var-list-ul; }
        .jstb_ol:before     { content: $fa-var-list-ol; }
        .jstb_bq:before     { content: $fa-var-indent; }
        .jstb_unbq:before   { content: $fa-var-outdent; }
        .jstb_pre:before    { content: $fa-var-terminal; }
        .jstb_link:before   { content: $fa-var-link; }
        .jstb_img:before    { content: $fa-var-image; }

        button.jstb_help {
            color: $link-color;

            &:hover {
                color: $link-hover-color;
            }

            &:before {
                content: $fa-var-question-circle;
            }
        }
    }
}