//
// Lists
// --------------------------------------------------

table.list {
    width: 100%;
    margin-bottom: $line-height-computed;
    font-size: $font-size-list;

    .autoscroll & {
        margin-bottom: 0;
    }

    th {
        padding: $table-cell-padding;
        border-bottom: 2px solid $table-border-color;
        color: $gray;
        vertical-align: bottom;

        a {
            color: $gray-darker;
        }
    }

    td {
        padding: $table-cell-padding;
        border-bottom: 1px solid $table-border-color;
        text-align: center;
        vertical-align: top;

        &.checkbox {
            width: 15px;
            padding: $table-cell-padding 0 0;

            input {
                margin: 2px 0 0;
            }
        }

        &.id,
        &.tracker,
        &.parent,
        &.relations {
            width: 2%;
            text-align: center;
        }

        &.id {
            font-weight: bold;
            text-align: right;
        }

        &.name,
        &.description,
        &.subject,
        &.comments,
        &.roles {
            text-align: left;
        }

        &.tick {
            width: 15%;
        }

        &.buttons {
            width: 15%;
            text-align: right;
            white-space: nowrap;

            a {
                padding-right: 5px;
            }
        }

        &.reorder {
            width: 15%;
            text-align: center;
            white-space: nowrap;
        }
    }

    caption {
        padding: .5em .5em .5em 0;
        text-align: left;
    }
}

tr.project {
    .name a {
        white-space: nowrap;
    }

    &.closed,
    &.archived,
    &.closed a,
    &.archived a {
        color: #aaa;
    }

    &.idnt .name span {
        padding-left: 16px;
        background: url("../images/bullet_arrow_right.png") no-repeat -5px 50%;
    }

    @for $i from 1 through 9 {
        &.idnt-#{$i} .name {
            padding-left: $table-cell-padding + 16px * ($i - 1);
        }
    }
}

tr.issue {
    text-align: center;
    white-space: nowrap;

    &.string,
    &.text,
    .subject,
    .category {
        white-space: normal;
    }

    .autoscroll & {
        .subject > a {
            display: block;
        }
    }

    &.relations {
        text-align: left;
        white-space: normal;

        span {
            white-space: nowrap;
        }
    }

    &.done_ratio table.progress {
        margin-right: auto;
        margin-left: auto;
    }

    &.idnt .subject a {
        padding-left: 16px;
        background-image: url("../images/bullet_arrow_right.png");
        background-repeat: no-repeat;

        @if $color-trackers {
            background-position: 0 0;
        } @else {
            background-position: -5px 0;
        }
    }

    .controller-issues.action-index & {
        &.assigned-to-me {
            .assigned_to,
            .subject {
                a {
                    font-weight: bold;
                }
            }
        }
    }

    @for $i from 1 through 9 {
        &.idnt-#{$i} .subject {
            padding-left: $table-cell-padding + 16px * ($i - 1);
        }
    }
}

.issues {
    .description {
        padding: 0;
        text-align: left;

        @media screen and (min-width: $screen-sm-min) {
            > .wiki {
                max-height: 20em;
                padding: $padding-wiki;
                overflow: auto;
            }
        }

        pre {
            white-space: normal;
        }
    }
}

tr {
    span.expander {
        margin-left: 0;
        padding-left: 8px;
        background: url("../images/bullet_toggle_plus.png") no-repeat center center;
        cursor: pointer;
        @include user-select(none);
    }

    &.open span.expander {
        background-image: url("../images/bullet_toggle_minus.png");
    }
}

// /* do you */ .even {
// }

td.center {
    text-align: center;
}

.issue-report {
    table-layout: fixed;
}

tr.builtin td.name {
    font-style: italic;
}

tr.entry {
    border: 1px solid $gray-lighter;

    td {
        white-space: nowrap;

        &.filename {
            width: 30%;
            text-align: left;
        }

        &.filename_no_report {
            width: 70%;
            text-align: left;
        }

        &.size {
            text-align: right;
        }

        &.revision,
        &.author {
            text-align: center;
        }

        &.age {
            text-align: right;
        }
    }

    &.file td {
        &.filename a,
        &.filename_no_report a {
            margin-left: 16px;
        }
    }
}


/**
 * Priorities
 */

@if $color-priorities {
    @include priority(".priority-lowest",  $priority-lowest-bg,  $priority-lowest-text,  $priority-lowest-link);
    @include priority(".priority-default", $priority-default-bg, $priority-default-text, $priority-default-link);
    @include priority(".priority-high3",   $priority-high3-bg,   $priority-high3-text,   $priority-high3-link);
    @include priority(".priority-high2",   $priority-high2-bg,   $priority-high2-text,   $priority-high2-link);
    @include priority(".priority-highest", $priority-highest-bg, $priority-highest-text, $priority-highest-link);
}

@if $color-trackers {
    @include tracker(".tracker-1", $tracker-1-bg, $tracker-1-text);
    @include tracker(".tracker-2", $tracker-2-bg, $tracker-2-text);
    @include tracker(".tracker-3", $tracker-3-bg, $tracker-3-text);
    @include tracker(".tracker-4", $tracker-4-bg, $tracker-4-text);
    @include tracker(".tracker-5", $tracker-5-bg, $tracker-5-text);
    @include tracker(".tracker-6", $tracker-6-bg, $tracker-6-text);
    @include tracker(".tracker-7", $tracker-7-bg, $tracker-7-text);
}

.odd {
    background-color: $table-bg-accent;
}


/**
 * List groups
 */

tr.group {
    > td {
        border-bottom: 1px solid $table-border-color;
        font-weight: bold;
        text-align: left;

        a {
            color: $brand-primary;
        }
    }

    .toggle-all {
        display: none;
        color: $gray-light;
        font-weight: normal;
    }

    &:hover .toggle-all {
        display: inline;
    }

    .count {
        display: inline-block;
        margin: 0 5px;
        padding: 1px 4px;
        border-radius: $border-radius-small;
        background-color: $brand-primary;
        color: $brand-text;
        font-size: $font-size-small;
    }
}

.toggle-all:hover {
    text-decoration: none;
}


/**
 * Time entry in report
 */

tr.time-entry {
    text-align: center;
    white-space: nowrap;

    td.issue,
    td.comments {
        text-align: left;
        white-space: normal;
    }

    td.hours {
        padding-right: .5em;
        font-weight: bold;
        text-align: right;

        .hours-dec {
            font-size: .9em;
        }
    }
}


/**
 * Wiki page history entry
 */

tr.wiki-page-version {
    td.updated_on,
    td.author {
        text-align: center;
    }
}

/**
 * Project versions list
 */

tr.version {
    &.closed {
        color: $gray;

        a {
            color: $gray;
        }
    }

    td {
        &.date,
        &.status,
        &.sharing {
            text-align: center;
            white-space: nowrap;
        }
    }
}


/**
 * Users list
 */

tr.user {
    td {
        width: 13%;
        white-space: nowrap;

        &.username,
        &.firstname,
        &.lastname {
            text-align: left;
        }

        &.email {
            width: 18%;
            text-align: left;
        }
    }

    &.locked,
    &.registered,
    &.locked a,
    &.registered a {
        color: $gray-light;
    }
}


/**
 * Plugins list
 */

table.plugins {
    .configure {
        text-align: right;
    }

    span.name {
        margin-bottom: .5em;
        font-size: $font-size-large;
        font-weight: bold;
    }

    .description,
    .url {
        display: block;
    }
}


/**
 * Files list
 */

table.files {
    tbody th {
        text-align: left;
    }

    tr.file td {
        &.filename {
            padding-left: 20px + $table-cell-padding;
            text-align: left;
        }

        &.digest {
            font-family: $font-family-monospace;
        }
    }
}
