//
// Progress bar
// --------------------------------------------------

table.progress {
    margin-top: 1px;
    margin-right: 5px;
    float: left;
    border: 1px solid rgba(#000, .1);
    empty-cells: show;

    td {
        height: 12px;
        padding: 0;
        border: 0 none;

        &.closed {
            background-color: $progress-bar-success-bg;
        }

        &.done {
            background-color: mix($progress-bar-success-bg, $progress-bg, 50%);
        }

        &.todo {
            background-color: $progress-bg;
        }
    }
}

p {
    &.percent {
        margin-bottom: 0;
        font-size: $font-size-small;
    }

    &.progress-info {
        margin-top: -4px;
        margin-bottom: 0;
        clear: left;
        color: #777;
        font-size: 80%;
    }
}
