//
// Progress bar
// --------------------------------------------------

table.progress {
    empty-cells: show;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
    border: 1px solid rgba(#000, .1);

    td {
        padding: 0;
        border: 0 none;
        height: 12px;

        &.closed {
            background-color: $progress-bar-success-bg;
        }

        &.done {
            background-color: mix($progress-bar-success-bg, $progress-bg, 50%);
        }

        &.todo {
            background-color: $progress-bg;
        }
    }
}

p {
    &.percent {
        margin-bottom: 0;
        font-size: $font-size-small;
    }
    &.progress-info {
        margin-bottom: 0;
        clear: left;
        font-size: 80%;
        margin-top: -4px;
        color: #777;
    }
}