//
// Tabs
// --------------------------------------------------

.tabs {
    $tabs-buttons-width: 40px;

    position: relative;
    margin-bottom: $line-height-computed;
    padding-right: $tabs-buttons-width;
    overflow: hidden;

    > ul {
        width: 2000px; // stop it from breaking
        margin: 0;
        padding-left: 0;
        border-bottom: 1px solid $tab-border;
        list-style: none;
        @extend %clearfix;

        > li {
            margin-bottom: -1px;
            float: left;

            > a {
                display: block;
                margin-right: 2px;
                padding: $tab-padding-vertical $tab-padding-horizontal;
                border: 1px solid transparent;
                border-radius: $border-radius-base $border-radius-base 0 0;

                &:hover,
                &:focus {
                    border-color: $tab-hover-border $tab-hover-border $tab-border;
                    background-color: $tab-hover-bg;
                    text-decoration: none;
                }

                &.selected {
                    border-color: $tab-active-border $tab-active-border $tab-active-bg;
                    background: $tab-active-bg;
                    color: $tab-active-text;
                }
            }
        }
    }

    .tabs-buttons {
        position: absolute;
        top: 0;
        right: 0;
        width: $tabs-buttons-width;
        padding-left: 5px;
        background-color: $body-bg;

        > button {
            width: 50%;
            height: $tab-padding-vertical * 2 + $line-height-computed;
            margin: 0;
            padding: 0;
            float: left;
            border: 0 none;
            background-color: $body-bg;
            background-repeat: no-repeat;
            background-position: center center;
            box-shadow: none;
            opacity: .8;
            @include transition(opacity .1s);

            &:hover,
            &:active {
                opacity: 1;
            }

            &:active {
                background-color: $tab-hover-bg;
            }
        }

        .tab-left {
            background-image: url("../images/bullet_arrow_left.png");
        }

        .tab-right {
            background-image: url("../images/bullet_arrow_right.png");
        }
    }
}

/**
 * Specific tabs content layout
 */

#tab-content-modules fieldset p {
    margin: 3px 0 4px;
}

#tab-content-members,
#tab-content-memberships,
#tab-content-users {
    .splitcontentleft {
        width: 65%;
    }

    .splitcontentright {
        width: 35%;
    }

    fieldset {
        margin-bottom: $line-height-computed;

        legend {
            font-weight: bold;
        }

        label {
            display: block;
            margin-bottom: 3px;
            @include checkbox;
        }

        label[for=principal_search] {
            padding-left: 0;
        }
    }

    .pagination .items {
        margin-left: 0;
    }
}

#tab-content-members,
#tab-content-users {
    #principals {
        max-height: 400px;
        overflow: auto;
    }
}

#tab-content-memberships .splitcontentright select {
    width: 100%;
}
