.wiki-page {
    margin-bottom: $line-height-computed;
    font-size: $wiki-font-size;
}

.controller-wiki .wiki > .preview {
    font-size: $wiki-font-size;
}

div.wiki {
    color: $wiki-text;
    line-height: $wiki-line-height;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1em;
        margin-bottom: .5em;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
    }

    h1 { font-size: $font-size-h1; }
    h2 { font-size: $font-size-h2; }
    h3 { font-size: $font-size-h3; }
    h4 { font-size: $font-size-h4; }
    h5 { font-size: $font-size-h5; }
    h6 { font-size: $font-size-h6; }

    h1,
    h2 {
        padding-bottom: .3em;
        border-bottom: 1px solid $gray-lighter;
    }

    h6 {
        color: $gray;
    }

    > a:first-child {
        + h1,
        + h2,
        + h3,
        + h4,
        + h5,
        + h6 {
            margin-top: 0;
        }
    }

    > *:last-child {
        margin-bottom: 0;
    }

    .contextual {
        a {
            opacity: .4;

            &:hover {
                opacity: 1;
            }
        }
    }

    table {
        margin-bottom: $line-height-computed;
        border: 1px solid $table-border-color;
    }

    td,
    th {
        padding: $table-cell-padding;
        border: 1px solid $table-border-color;
    }

    .noborder {
        border: 0 none;

        td,
        th {
            border: 0 none;
        }
    }

    a.new {
        color: $brand-danger;
    }

    code {
        // scss-lint:disable DuplicateProperty
        padding: .2em .33em;
        border-radius: $border-radius-base;
        background-color: #f5f5f5; // IE8 fallback
        background-color: rgba(#000, .04);
        font-size: $font-size-small;
    }

    pre {
        // scss-lint:disable DuplicateProperty
        width: auto;
        padding: 4px 8px;
        border: 1px solid #e7e7e7;
        border-radius: $border-radius-base;
        border-color: rgba(#000, .068);
        background-color: #f7f7f7; // IE8 fallback
        background-color: rgba(#000, .03);
        overflow-x: auto;
        overflow-y: hidden;
        font-size: $font-size-small;

        code {
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            font-size: 1em;
        }
    }

    .toc {
        margin-bottom: $line-height-computed;
        margin-left: 0;
        padding: 0;
        list-style-type: none;

        &.right,
        &.left {
            max-width: 45%;
            padding: 8px;
            border: 1px solid $highlight-border;
            border-radius: $border-radius-base;
            background-color: $highlight-bg;
            font-size: $font-size-small;
            box-shadow: $panel-shadow;

            a {
                color: $highlight-text;
                font-weight: normal;
                text-decoration: none;

                &:hover {
                    color: darken($highlight-text, 10%);
                    text-decoration: underline;
                }
            }
        }

        &.right {
            margin-right: 0;
            margin-left: $line-height-computed;
            float: right;
        }

        &.left {
            margin-right: $line-height-computed;
            margin-left: 0;
            float: left;
        }

        ul {
            margin: 0;
            padding: 0;
            font-size: $font-size-small;

            ul {
                font-size: 1em;
            }
        }

        li {
            // scss-lint:disable SelectorDepth
            margin: 0;

            li {
                list-style-type: disc;
                margin-left: 1.5em;

                li {
                    list-style-type: circle;

                    li {
                        list-style-type: square;
                    }
                }
            }
        }

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .wiki-anchor {
        display: none;
        margin-left: 5px;
        color: $gray-lighter !important;
        text-decoration: none !important;
    }

    &:hover {
        .wiki-anchor {
            display: inline;
        }
    }
}

p.footnote {
    margin-bottom: 5px;
    font-size: $font-size-small;

    &:before {
        display: block;
        width: 300px;
        margin-top:  10px;
        padding-top: 10px;
        border-top: 1px solid $gray-lighter;
        content: "";
    }

    + p.footnote:before {
        display: none;
    }
}

.preview {
    margin-top: $line-height-computed;
    padding: $padding-wiki;
    background-color: #fffbe5;
    background-image: url("../images/draft.png");
    background-position: center center;

    html[lang="pl"] & {
        background-image: url("../images/draft-pl.png");
    }
}

#wiki_add_attachment {
    padding-top: $line-height-computed;
    border-top: 1px solid $gray-lighter;

    > p {
        float: left;
    }

    #add_attachment_form {
        clear: left;
    }
}

.controller-wiki.action-show {
    .other-formats {
        margin-top: 0;
        float: right;
    }
}
