// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}

@mixin button-variant($color, $bg, $border) {
    $focus-bg:      darken($bg, 8%);
    $focus-border:  darken($border, 8%);
    $active-shadow: inset 0 1px 3px rgba(#000, .3);

    color: $color;
    border-color: $border;
    background-color: $bg;
    box-shadow: 0 1px 0 $border;

    @if lightness($bg) > 90 {
        $focus-bg:      darken($bg, 5%);
        $focus-border:  darken($border, 5%);
        $active-shadow: inset 0 1px 2px rgba(#000, .1);
    }

    &:hover,
    &:focus {
        border-color: $focus-border;
        background-color: $focus-bg;
        color: $color;
        box-shadow: 0 1px 0 $focus-border;
    }

    &:active {
        border-color: $border;
        background-color: $bg;
        @include translate(0, 1px);
        box-shadow: $active-shadow;
    }
}
