// Priority highlight

@mixin priority($parent, $background, $color, $link) {
    $border-color: darken(desaturate($background, 30%), 13.5%);

    tr#{$parent} {
        background: $background;
        color: $color;

        &.odd {
            background: darken($background, 3%);
        }

        td {
            border-color: $border-color;
        }

        a {
            color: $link;

            &:hover {
                color: darken($link, 10%);
            }
        }
    }

    @if $colored-issue {
        .issue.details#{$parent} {
            color: $color;

            @if ".priority-default" == $parent {
                $border-color: $issue-border;
                background: $issue-bg;
            } @else {
                @if lightness($background) < 85% {
                    background: lighten($background, 6%);
                } @else {
                    background: $background;
                }
            }

            &,
            hr {
                border-color: $border-color;
            }

            a {
                color: $link;

                &:hover {
                    color: darken($link, 10%);
                }
            }

            .next-prev-links {
                color: mix($color, $gray-light, 25%);
            }

            .wiki {
                border-top-color: $border-color;

                a {
                    color: $link-color;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        color: $link-hover-color;
                        text-decoration: $link-hover-decoration;
                    }

                    &.new {
                        color: $brand-danger;
                    }
                }
            }

            > .attachments {
                border-top-color: lighten($border-color, 5%);
                background-color: lighten($background, 5%);

                span.author {
                    color: mix($color, $gray, 25%);
                }
            }

            .list td {
                border-bottom-color: $border-color;
            }
        }
    }
}


// Tracker highlight

@mixin tracker($parent, $background, $color) {
    tr#{$parent} .id > a,
    a#{$parent},
    .relations > span > a#{$parent},
    .parent > a#{$parent} {
        border-radius: $border-radius-small ($border-radius-small * 3) ($border-radius-small * 3) $border-radius-small;
        background-color: $background;
        color: $color;

        &:hover {
            background-color: darken($background, 10%);
            color: $color;
            text-decoration: none;
        }
    }

    a#{$parent} {
        margin-right: 1px;
        padding: $tracker-inline-padding;

        &.closed {
            color: mix($color, $background, 50%);
            text-decoration: $link-closed-decoration;
        }
    }

    tr#{$parent} .id > a {
        display: block;
        padding: $tracker-list-padding;

        &:before {
            color: mix($color, $background, 50%);
            content: "#";
        }
    }

    @if $colored-issue {
        .issue.details a#{$parent},
        .issue.details .wiki a#{$parent} {
            &,
            &:hover {
                color: $color;
            }
        }
    }
}
