//
// Base styles
// --------------------------------------------------

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
    color: $text-color;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &.issue.closed {
        color: $link-color-issue-closed;
        text-decoration: $link-closed-decoration;
    }

    &.project.closed {
        color: $link-color-project-closed;
    }

    &.user.locked {
        color: $link-color-user-locked;
    }
}

h1 {
    margin: 0;
    font-size: 2em;             // ~28px
    line-height: 30px;
}

h2 {
    margin-top: 0;
    margin-bottom: $line-height-computed;
    font-size: 1.43em;          // ~20px
    font-weight: 500;
    line-height: $line-height-computed;

    img {
        vertical-align: middle;
    }
}

h3 {
    margin-top: 0;
    margin-bottom: $line-height-computed;
    font-size: 1.14em;          // ~16px
    font-weight: 500;
    line-height: $line-height-computed;
}

h4 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 500;
}

p {
    margin: 0 0 ($line-height-computed / 2);
}

small {
    font-size: $font-size-small;
}

table {
    th,
    td {
        padding: $table-condensed-cell-padding $table-cell-padding;
        text-align: left;
    }
}

ul,
ol {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 2);

    ul,
    ol {
        margin-bottom: 0;
    }
}

dl {
    margin-top: 0;
    margin-bottom: $line-height-computed;
}

dt {
    margin-top: $line-height-computed;
    font-weight: $font-weight-bold;
}

dd {
    margin-bottom: $line-height-computed;
    margin-left: $line-height-computed;
}

code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
    font-size: 1em;
}

hr {
    margin-top:    $line-height-computed;
    margin-bottom: $line-height-computed;
    border: 0;
    border-top: 1px solid $hr-border;
}

abbr[title] {
    border-bottom: 1px dotted $abbr-border-color;
    cursor: help;
}

blockquote {
    margin: 0 0 $line-height-computed;
    padding: floor($line-height-computed / 4) $padding-large-horizontal;
    border-left: 4px solid $blockquote-border-color;

    >:first-child {
        margin-top: 0;
    }

    >:last-child {
        margin-bottom: 0;
    }
}

.clear {
    @extend %clearfix;
}
