#main {
  @if $flexbox-layout {
    display: flex;
  } @else {
    @extend %clearfix;
  }
}


//
// Main container
// --------------------------------------------------

#content {
  padding: $padding-side;

  @if $flexbox-layout {
    $side-space: $sidebar-width + $padding-side * 2;
    flex: 1 1 auto;
    width: calc(100% - #{$side-space});
  } @else {
    overflow: hidden;
  }
}


//
// Sidebar
// --------------------------------------------------

#sidebar {
  padding: $padding-side $sidebar-padding-horizontal;

  @if $flexbox-layout {
    flex: 0 0 $sidebar-width-computed;

    @if $sidebar-position == "left" {
      order: -1;
    } @else {
      order: 1;
    }
  } @else {
    width: $sidebar-width-computed;
    float: $sidebar-position;
  }

  @media screen and (min-width: 1px) {
    @if not $flexbox-layout {
      padding-bottom: $padding-side * 3;
    }

    @if $sidebar-position == "left" {
      border-right: 1px solid $sidebar-link-active-border;
      box-shadow: inset -9px 0 6px -6px rgba(0, 0, 0, .05);
    } @else {
      border-left: 1px solid $sidebar-link-active-border;
      box-shadow: inset 9px 0 6px -6px rgba(0, 0, 0, .05);
    }
  }

  .nosidebar & {
    margin: 0;
    padding: 0;
    border: 0 none;

    @if $flexbox-layout {
      flex: 0 0 auto;
    } @else {
      width: 0;
      float: none;
    }
  }

  h3 {
    margin-top: $line-height-computed * 1.5;
  }

  > h3:first-child,
  > form:first-child > h3 {
    margin-top: 0;
  }

  ul {
    margin: 0 0 ($line-height-computed / 2);
    padding: 0;

    @if $sidebar-position == "left" {
      margin-right: -($sidebar-padding-horizontal);
    } @else {
      margin-left: -($sidebar-padding-horizontal);
    }
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > a:not(.icon-only) {
      display: block;
      padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
      border: 1px solid transparent;

      @if $sidebar-position == "left" {
        border-left-width: 3px;
        border-radius: $border-radius-large 0 0 $border-radius-large;
      } @else {
        border-right-width: 3px;
        border-radius: 0 $border-radius-large $border-radius-large 0;
      }

      &:hover {
        background-color: $sidebar-link-hover-bg;
        text-decoration: none;
      }

      &.selected {
        border-color: $sidebar-link-active-border;
        background-color: $sidebar-link-active-bg;
        color: $sidebar-link-active-text;

        @if $sidebar-position == "left" {
          margin-right: -1px;
          border-right-color: $body-bg;
          border-left-color: $sidebar-link-active-side;
          box-shadow: -3px 1px 2px rgba(0, 0, 0, .1);
        } @else {
          margin-left: -1px;
          border-right-color: $sidebar-link-active-side;
          border-left-color: $body-bg;
          box-shadow: 3px 1px 2px rgba(0, 0, 0, .1);
        }
      }
    }
  }
}

#footer {
  margin: 0 $padding-side $line-height-computed;
  padding-top: $line-height-computed;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  font-size: $font-size-small;
}

@if $fixed-layout {
  @media screen and (min-width: $screen-sm-min) {
    #main-menu ul,
    #main {
      width: $width-sm;
      margin-right: auto;
      margin-left: auto;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    #main-menu ul,
    #main {
      width: $width-md;
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    #main-menu ul,
    #main {
      width: $width-lg;
    }
  }

  #main-menu ul > li > a {
    padding: $main-menu-padding-vertical 1px;
  }
}
