//
// Gravatars
// --------------------------------------------------

img.gravatar {
  overflow: hidden;
  border-radius: $border-radius-large;
  line-height: 1;
  vertical-align: middle;

  h2 &,
  h3 &,
  h4 & {
    position: relative;
    top: -1px;
    margin-right: 5px;
  }
}


//== Administration -> /users
//

.username img.gravatar {
  position: relative;
  top: 1px;
  margin-right: .5em;
  vertical-align: top;
}

//== Gravatar
//   Used on 12px Gravatar img tags without the icon background

.icon-gravatar {
  margin-right: 5px;
  float: left;
}
