//
// Lists
// --------------------------------------------------

table.list {
  width: 100%;
  margin-bottom: $line-height-computed;
  font-size: $font-size-list;

  .autoscroll & {
    margin-bottom: 0;
  }

  &.changesets {
    margin-bottom: $line-height-computed;
  }

  th,
  .table-list-header {
    padding: $table-cell-padding;
    border: 2px solid $table-border-color;
    border-width: $table-list-header-border;
    color: $gray;
    vertical-align: bottom;

    a {
      color: $gray-darker;
    }
  }

  tr.ui-sortable-helper {
    background-color: $highlight-bg;
  }

  @if $table-list-highlight-rows {
    > tbody > tr:hover {
      background-color: $table-bg-hover;
    }
  }

  td {
    padding: $table-cell-padding;
    border: 1px solid $table-border-color;
    border-width: $table-list-item-border;
    text-align: center;
    vertical-align: top;

    &.checkbox {
      width: 15px;
      padding: $table-cell-padding 0 0;

      input {
        margin: 2px 0 0;
      }
    }

    &.id,
    &.parent,
    &.relations,
    &.tracker {
      width: 2%;
    }

    &.id {
      font-weight: $font-weight-bold;
      text-align: right;
    }

    &.assigned_to,
    &.author,
    &.activity,
    &.category,
    &.comments,
    &.description,
    &.last_notes,
    &.fixed_version,
    &.name,
    &.priority,
    &.relations,
    &.roles,
    &.status,
    &.string,
    &.subject,
    &.text,
    &.user {
      text-align: left;
    }

    &.estimated_hours,
    &.remaining_hours,
    &.spent_hours,
    &.story_points,
    &.int,
    &.float {
      text-align: right;
    }

    &.reorder {
      white-space: nowrap;
    }
  }

  td,
  div {
    &.buttons {
      text-align: right;
      white-space: nowrap;

      a {
        padding-right: 5px;
      }

      img {
        vertical-align: middle;
      }
    }
  }

  caption {
    padding: .5em .5em .5em 0;
    text-align: left;
  }
}

.table-list-cell {
  display: table-cell;
  padding: $table-cell-padding;
  vertical-align: top;
}

tr.project {
  .name a {
    white-space: nowrap;
  }

  &.closed,
  &.archived,
  &.closed a,
  &.archived a {
    color: #aaa;
  }

  &.idnt .name span {
    @extend %image-arrow-right;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: -5px 50%;
  }

  @for $i from 1 through 9 {
    &.idnt-#{$i} .name {
      padding-left: $table-cell-padding + 16px * ($i - 1);
    }
  }
}

tr.issue {
  text-align: center;
  white-space: nowrap;

  .string,
  .text,
  .subject,
  .category {
    white-space: normal;
  }

  .relations {
    text-align: left;
    white-space: normal;

    span {
      white-space: nowrap;
    }
  }

  &.idnt .subject a {
    @extend %image-arrow-right;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: -5px 0;
  }

  .controller-issues.action-index & {
    &.assigned-to-me {
      .assigned_to,
      .subject {
        a {
          font-weight: $font-weight-bold;
        }
      }
    }
  }

  @for $i from 1 through 9 {
    &.idnt-#{$i} .subject {
      padding-left: $table-cell-padding + 16px * ($i - 1);
    }
  }
}

.issues {
  .description,
  .last_notes {
    padding: 0;
    text-align: left;

    @media screen and (min-width: $screen-sm-min) {
      > .wiki {
        max-height: 20em;
        padding: $padding-wiki;
        overflow: auto;
      }
    }

    pre {
      white-space: normal;
    }
  }
}

tr {
  span.expander {
    @extend %image-toggle-plus;
    margin-left: 0;
    padding-left: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    user-select: none;
  }

  &.open span.expander {
    @extend %image-toggle-minus;
  }
}

td.center {
  text-align: center;
}

.issue-report {
  table-layout: fixed;
}

tr.builtin td.name {
  font-style: italic;
}

tr.entry {
  border: 1px solid $gray-lighter;

  td {
    white-space: nowrap;

    &.filename {
      width: 30%;
      text-align: left;
    }

    &.filename_no_report {
      width: 70%;
      text-align: left;
    }

    &.size {
      text-align: right;
    }

    &.revision,
    &.author {
      text-align: center;
    }

    &.age {
      text-align: right;
    }
  }

  &.file td {
    &.filename a,
    &.filename_no_report a {
      margin-left: 16px;
    }
  }
}


//== Priorities
//

@if $color-priorities {
  // scss-lint:disable SpaceAfterComma
  @include priority(".priority-lowest",  $priority-lowest-bg,  $priority-lowest-text,  $priority-lowest-link);
  @include priority(".priority-default", $priority-default-bg, $priority-default-text, $priority-default-link);
  @include priority(".priority-high3",   $priority-high3-bg,   $priority-high3-text,   $priority-high3-link);
  @include priority(".priority-high2",   $priority-high2-bg,   $priority-high2-text,   $priority-high2-link);
  @include priority(".priority-highest", $priority-highest-bg, $priority-highest-text, $priority-highest-link);
}

@if $color-trackers {
  tr.issue .id > a,
  a.issue,
  .relations > span > a.issue,
  .parent > a.issue {
    border-radius: $border-radius-small ($border-radius-small * 3) ($border-radius-small * 3) $border-radius-small;
    background-color: $tracker-default-bg;
    color: $tracker-default-text;

    &:hover {
      background-color: darken($tracker-default-bg, 10%);
      color: $tracker-default-text;
      text-decoration: none;
    }

    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  a.issue {
    margin-right: 1px;
    padding: $tracker-inline-padding;
    font-weight: normal;

    &.closed {
      position: relative;
      color: mix($tracker-default-text, $tracker-default-bg, 75%);
      text-decoration: none;

      &::after {
        display: block;
        position: absolute;
        right: 5px;
        bottom: 0;
        left: 5px;
        height: calc(50% - 2px/2);
        transform: rotate(-4deg);
        transition: border-color .1s;
        border-top: 2px solid rgba($tracker-default-text, .95);
        content: "";
      }

      &:hover::after {
        border-top-color: rgba($tracker-default-text, .25);
      }
    }
  }

  tr.issue .id > a {
    display: block;
    padding: $tracker-list-padding;

    &::before {
      color: mix($tracker-default-text, $tracker-default-bg, 50%);
      content: "#";
    }
  }

  @if $colored-issue {
    .issue.details a.issue,
    .issue.details .wiki a.issue {
      &,
      &:hover {
        color: $tracker-default-text;
      }
    }
  }

  @each $tracker-id, $tracker-colors in $tracker-colors-map {
    @include tracker(
      ".tracker-#{$tracker-id}",
      map-get($tracker-colors, background),
      map-get($tracker-colors, color)
    );
  }
}

@if $table-list-color-odd-rows {
  table.list:not(.odd-even) tbody tr:nth-child(odd),
  .odd {
    background-color: $table-bg-accent;
  }
}

@if $table-list-color-even-rows {
  table.list:not(.odd-even) tbody tr:nth-child(even),
  .even {
    background-color: $table-bg-accent;
  }
}


//== List groups
//

tr.group {
  > td {
    border-bottom: 1px solid $table-border-color;
    font-weight: $font-weight-bold;
    text-align: left;

    a {
      color: $brand-primary;
    }
  }

  .toggle-all {
    display: none;
    color: $gray-light;
    font-weight: normal;
  }

  &:hover .toggle-all {
    display: inline;
  }

  .count {
    display: inline-block;
    min-width: 1em;
    margin: 0 5px;
    padding: 1px 4px;
    border-radius: $border-radius-small;
    background-color: $brand-primary;
    color: $brand-text;
    font-size: $font-size-small;
    text-align: center;
  }
}

.toggle-all:hover {
  text-decoration: none;
}


//== Time entry in report
//

tr.time-entry {
  text-align: center;

  td.project,
  td.spent_on,
  td.activity {
    width: 6em;
  }

  td.user {
    width: 12em;
  }

  td.issue,
  td.comments {
    text-align: left;
    white-space: normal;
  }

  td.hours {
    font-weight: $font-weight-bold;
  }
}

.time-entries,
tr.time-entry {
  td.hours {
    width: 1%;
    text-align: right;
    white-space: nowrap;

    .hours-dec {
      font-size: .9em;
    }
  }
}

.mypage-box {
  td.hours {
    font-weight: $font-weight-bold;

    em {
      font-style: normal;
    }
  }

  tr.time-entry td.hours {
    font-weight: normal;
  }
}

//== Wiki page history entry
//

tr.wiki-page-version {
  td.updated_on,
  td.author {
    text-align: center;
  }
}

//== Project versions list
//

tr.version {
  &.closed {
    color: $gray;

    a {
      color: $gray;
    }
  }

  td {
    &.date,
    &.status,
    &.sharing {
      text-align: center;
      white-space: nowrap;
    }
  }
}


//== Users list
//

tr.user {
  td {
    width: 13%;
    white-space: nowrap;

    &.username,
    &.firstname,
    &.lastname {
      text-align: left;
    }

    &.email {
      width: 18%;
      text-align: left;
    }
  }

  &.locked,
  &.registered,
  &.locked a,
  &.registered a {
    color: $gray-light;
  }
}


//== Plugins list
//

table.plugins {
  .configure {
    text-align: right;
  }

  span.name {
    margin-bottom: .5em;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  .description,
  .url {
    display: block;
  }
}


//== Files list
//

table.files {
  tbody th {
    text-align: left;
  }

  tr.file td {
    &.filename {
      padding-left: 20px + $table-cell-padding;
      text-align: left;
    }

    &.digest {
      font-family: $font-family-monospace;
    }
  }
}


//== Admin lists
//

.controller-enumerations {
  td.name {
    width: 50%;
  }

  td.tick,
  td.reorder {
    width: 15%;
    text-align: center;
  }
}

table.list.enumerations {
  table-layout: fixed;

  + h3 {
    margin-top: $line-height-computed * 2;
  }

  + p {
    margin-bottom: $line-height-computed * 2;
  }
}


//== Totals
//

.query-totals {
  > span {
    margin-right: $padding-base-horizontal;

    &:last-child {
      margin-right: 0;
    }
  }

  .value {
    font-weight: $font-weight-bold;
  }
}
