//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
    .previous,
    .next,
    .page {
        display: inline-block;
        padding: $padding-small-vertical $padding-small-horizontal;
        border: 1px solid $pagination-border;
        border-radius: $border-radius-base;
        background-color: $pagination-bg;
        color: $pagination-color;
        text-decoration: none;

        &:hover,
        &:focus {
            border-color: $pagination-hover-border;
            background-color: $pagination-hover-bg;
            color: $pagination-hover-color;
        }
    }

    .page.current {
        border-color: $pagination-active-border;
        background-color: $pagination-active-bg;
        cursor: default;
        color: $pagination-active-color;
        z-index: 2;
    }

    .items,
    .per-page {
        margin-left: $padding-small-vertical;
    }
}
