//
// Redmine Backlogs
// --------------------------------------------------

#backlogs_view_issues_sidebar {
    > a {
        display: block;
        padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
        border: 1px solid transparent;

        @if $sidebar-position == "left" {
            margin-right: -($sidebar-padding-horizontal);
            border-left-width: 3px;
            border-radius: $border-radius-large 0 0 $border-radius-large;
        } @else {
            margin-left: -($sidebar-padding-horizontal);
            border-right-width: 3px;
            border-radius: 0 $border-radius-large $border-radius-large 0;
        }

        &:hover {
            background-color: $sidebar-link-hover-bg;
            text-decoration: none;
        }

        + br {
            display: none;
        }
    }
}


//
// Redmine Time Tracker
// --------------------------------------------------

@if $use-font-awesome {
    .icon.icon-start,
    .icon.icon-stop {
        background-image: none;
    }

    .icon.icon-start {
        color: $icon-success-color;

        &:hover,
        &:focus {
            color: $icon-success-color;
        }

        &:before {
            content: $fa-var-clock-o;
        }
    }

    .icon.icon-stop {
        color: $icon-danger-color;

        &:hover,
        &:focus {
            color: $icon-danger-color;
        }

        &:before {
            content: $fa-var-history;
        }
    }

    .time-tracker-quick-menu:empty {
        display: none;
    }
}
