//
// Progress bar
// --------------------------------------------------

table.progress {
  width: 80px;
  margin-top: 1px;
  margin-right: 5px;
  float: left;
  empty-cells: show;
  border: 1px solid rgba(#000, .1);

  .version-overview & {
    width: 40em;
  }

  td.done_ratio & {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  td {
    height: 12px;
    padding: 0;
    border: 0 none;

    &.closed {
      background-color: $progress-bar-success-bg;
    }

    &.done {
      background-color: mix($progress-bar-success-bg, $progress-bg, 50%);
    }

    &.todo {
      background-color: $progress-bg;
    }
  }

  .issue & td {
    padding: 0;
  }
}

p {
  &.percent {
    margin-bottom: 0;
    font-size: $font-size-small;
  }

  &.progress-info {
    margin-top: -4px;
    margin-bottom: 0;
    clear: left;
    color: #777;
    font-size: 80%;
  }
}
