//
// Progress bar
// --------------------------------------------------

table.progress {
  width: 80px;
  margin-top: 3px;
  margin-right: 5px;
  float: left;
  empty-cells: show;
  border: 0 none;

  .version-overview & {
    width: 40em;
  }

  td.done_ratio & {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  td {
    height: $progress-height;
    padding: 0;
    border: 0 none;

    &:first-child {
      border-top-left-radius: $progress-height / 2;
      border-bottom-left-radius: $progress-height / 2;
    }

    &:last-child {
      border-top-right-radius: $progress-height / 2;
      border-bottom-right-radius: $progress-height / 2;
    }

    &.done {
      background-color: $progress-bar-bg !important; // scss-lint:disable ImportantRule
    }

    &.closed {
      background-color: $progress-bar-success-bg !important; // scss-lint:disable ImportantRule
    }

    &.todo {
      background-color: $progress-bg !important; // scss-lint:disable ImportantRule
    }
  }

  .issue & td {
    padding: 0;
  }
}

p {
  &.percent {
    margin-bottom: 0;
    font-size: $font-size-small;
  }

  &.progress-info {
    margin-top: -4px;
    margin-bottom: 0;
    clear: left;
    color: $gray-700;
    font-size: 80%;
  }
}
