//
// Activity and search results list
// --------------------------------------------------


#search-results,
#activity dl {
    margin-left: $padding-side;
}

#activity,
#search-results {
    dd {
        margin-bottom: $line-height-computed;
        padding-left: $padding-side;
    }

    dt {
        margin-bottom: 2px;
        padding-left: $padding-side;
        background-repeat: no-repeat;
        background-position: 0 center;
    }

    span.project:after {
        content: " -";
    }

    span.description {
        display: block;
        color: $gray;
        font-style: italic;
    }
}

#activity {
    h3,
    h4 {
        margin: 0 0 $line-height-computed;
        padding-bottom: .2em;
        border-bottom: 1px dotted $gray-lighter;
        font-size: $font-size-h4;
        font-weight: normal;
    }

    dt {
        &.me .time {
            border-bottom: 1px solid $gray-lighter;
        }

        .time {
            color: $gray;
        }
    }

    dd {
        font-size: $font-size-small;
    }

    dt.grouped,
    dd.grouped {
        margin-left: $padding-side;
    }
}

#search-results-counts {
    float: right;

    ul {
        @extend %clearfix;
    }

    li {
        margin-left: 1em;
        float: left;
        list-style-type: none;
    }
}


// Search form

#search-form {
    input,
    select {
        margin-right: 5px;
    }

    label {
        display: inline-block;
        margin-right: 5px;
        @include checkbox;
    }

    p:last-child {
        margin-bottom: 0;
    }
}


// Search results highlight

.highlight {
    background-color: #fe8;

    &.token-1 { background-color: #fba; }
    &.token-2 { background-color: #afb; }
    &.token-3 { background-color: #aef; }
}
