//
// Tabs
// --------------------------------------------------

.tabs {
  $tabs-buttons-width: 40px;

  position: relative;
  margin-bottom: $line-height-computed;
  overflow: hidden;

  @if not $flexbox-layout {
    padding-right: $tabs-buttons-width;
  }

  > ul {
    // scss-lint:disable VendorPrefix
    margin: 0;
    padding-left: 0;
    border-bottom: 1px solid $tab-border;
    list-style: none;

    @if $flexbox-layout {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: $line-height-computed + $tab-padding-vertical * 2 + 1px;
    } @else {
      width: 2000px;
      @extend %clearfix;
    }

    > li {
      margin-bottom: -1px;

      @if $flexbox-layout {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
      } @else {
        float: left;
      }

      > a {
        display: block;
        min-width: 2em;
        margin-right: 2px;
        padding: $tab-padding-vertical $tab-padding-horizontal;
        border: 1px solid transparent;
        border-radius: $border-radius-base $border-radius-base 0 0;
        text-align: center;
        white-space: nowrap;

        &:hover,
        &:focus {
          border-color: $tab-hover-border $tab-hover-border $tab-border;
          background-color: $tab-hover-bg;
          text-decoration: none;
        }

        &.selected {
          border-color: $tab-active-border $tab-active-border $tab-active-bg;
          background: $tab-active-bg;
          color: $tab-active-text;
        }
      }
    }
  }

  .tabs-buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: $tabs-buttons-width;
    padding-left: 5px;
    border-bottom: 1px solid $tab-border;
    background-color: $body-bg;

    > button {
      width: 50%;
      height: $tab-padding-vertical * 2 + $line-height-computed + 1px;
      margin: 0;
      padding: 0;
      float: left;
      border: 0 none;
      border-radius: 0;
      background-color: $body-bg;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: none;
      opacity: .8;
      @include transition(opacity .1s);

      &:hover,
      &:active {
        opacity: 1;
      }

      &:active {
        background-color: $tab-hover-bg;
      }
    }

    .tab-left {
      @extend %image-arrow-left;
    }

    .tab-right {
      @extend %image-arrow-right;
    }
  }
}

//== Specific tabs content layout
//

#tab-content-modules fieldset p {
  margin: 3px 0 4px;
}

#tab-content-members,
#tab-content-memberships,
#tab-content-users {
  .splitcontentleft {
    width: 65%;
  }

  .splitcontentright {
    width: 35%;
  }

  fieldset {
    margin-bottom: $line-height-computed;

    legend {
      font-weight: $font-weight-bold;
    }

    label {
      display: block;
      margin-bottom: 3px;
      @include checkbox;
    }

    label[for=principal_search] {
      padding-left: 0;
    }
  }

  .pagination .items {
    margin-left: 0;
  }
}

#tab-content-members,
#tab-content-users {
  #principals {
    max-height: 400px;
    overflow: auto;
  }
}

#tab-content-memberships .splitcontentright select {
  width: 100%;
}

#principals_for_new_member {
  .pagination {
    float: none;
  }
}
