//
// Top menu
// --------------------------------------------------

#top-menu {
    padding: $padding-small-vertical $padding-side;
    background: $top-menu-bg;
    color: $top-menu-text;
    font-size: $font-size-small;
    @extend %clearfix;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        margin: 0 .5em 0 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        color: $top-menu-link;
        font-weight: bold;

        &:hover {
            color: $top-menu-link-hover;
            text-decoration: none;
        }
    }

    #loggedas {
        float: right;
    }
}

#account {
    float: right;

    > ul > li {
        margin-right: 0;
        margin-left: .5em;
    }
}


//
// Header
// --------------------------------------------------

#header {
    position: relative;
    background-color: $header-bg;
    color: $header-text;

    > h1 {
        padding: 10px $padding-side;

        > .root {
            color: $header-root;
            font-weight: 500;
        }

        > .ancestor {
            font-weight: 500;
        }
    }

    a {
        color: $header-link;
    }
}

#quick-search {
    margin-top: ($header-title-line-height + $padding-large-vertical * 2 - $input-height-base - 1px) / 2;
    margin-right: $padding-side;
    float: right;
    color: $header-text;

    label {
        font-weight: 500;
    }

    form {
        display: inline;
    }

    input,
    select {
        margin-left: 5px;
        border-color: darken($header-bg, 15%);
        background: darken($header-bg, 10%);
        color: $header-root;
        @include transition(color ease-in-out .1s, background-color ease-in-out .1s, border-color ease-in-out .1s);

        &:focus {
            border-color: darken($header-bg, 35%);
            background-color: $input-bg;
            color: $input-color;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
        }
    }

    option {
        background-color: $input-bg;
        color: $input-color;

        &[disabled] {
            color: $gray-lighter;
        }
    }

    input {
        width: 200px;
    }
}

#main-menu {
    border-bottom: 1px solid $main-menu-border;
    background-color: $main-menu-bg;

    @media screen and (max-width: $screen-sm-max) {
        font-size: $font-size-small-px;
    }

    ul {
        margin: 0;
        padding: 0 ($padding-side - $main-menu-padding-horizontal);
        color: $main-menu-link;
        list-style: none;
        @extend %clearfix;

        > li {
            margin-right: .5em;
            margin-bottom: -1px;
            float: left;

            > a {
                display: block;
                padding: $main-menu-padding-vertical 0;
                @include transition(box-shadow .2s);

                @media screen and (min-width: $screen-md-min) {
                    padding-right: $main-menu-padding-horizontal;
                    padding-left: $main-menu-padding-horizontal;
                }

                @media screen and (min-width: $screen-lg-min) {
                    padding-right: $main-menu-padding-horizontal * 2;
                    padding-left: $main-menu-padding-horizontal * 2;
                }

                &:hover,
                &:focus {
                    outline: 0 none;
                    text-decoration: none;
                    box-shadow: inset 0 (-$main-menu-shadow-width) 0 $main-menu-shadow-hover;
                }

                &.selected {
                    padding-bottom: $main-menu-padding-vertical - $main-menu-shadow-width;
                    border-bottom: 3px solid $main-menu-shadow-active;
                    color: $main-menu-link-active;
                    font-weight: bold;
                    box-shadow: none;
                }
            }
        }
    }

    a {
        color: $main-menu-link;
    }
}
