.wiki.wiki-page {
    margin-bottom: $line-height-computed;
    font-size: $wiki-font-size;

    @if $wiki-page-more-vertical-space {
        /**
         * Anchors will make headers more separated,
         * and it will look better when you open page with hash in URL
         */
        a[name]:empty {
            display: block;
            overflow: hidden;
        }

        /**
         * Add some space between list items
         */
        ul,
        ol {
            li {
                margin-top: .25em;
            }

            ul,
            ol {
                margin-top: .25em;
                margin-bottom: .25em;

                li {
                    margin-top: .125em;
                }
            }
        }
    }
}

.controller-wiki .wiki > .preview {
    font-size: $wiki-font-size;
}

div.wiki {
    color: $wiki-text;
    line-height: $wiki-line-height;

    //scss-lint:disable SingleLinePerSelector
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin-top: 1em;
        margin-bottom: $wiki-font-size;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
    }

    h1, .h1 { font-size: $font-size-h1; line-height: 1.2; }
    h2, .h2 { font-size: $font-size-h2; line-height: 1.225; }
    h3, .h3 { font-size: $font-size-h3; line-height: 1.43; }
    h4, .h4 { font-size: $font-size-h4; }
    h5, .h5 { font-size: $font-size-h5; }
    h6, .h6 { font-size: $font-size-h6; }

    h1, .h1,
    h2, .h2 {
        padding-bottom: .3em;
        border-bottom: 1px solid $gray-lighter;
    }

    h6, .h6 {
        color: $gray;
    }

    > a:first-child {
        + h1,
        + h2,
        + h3,
        + h4,
        + h5,
        + h6 {
            margin-top: 0;
        }
    }

    > *:last-child {
        margin-bottom: 0;
    }

    .contextual {
        a {
            opacity: .4;

            &:hover {
                opacity: 1;
            }
        }
    }

    p,
    ul,
    ol {
        margin-bottom: 1em;
    }

    ul,
    ol {
        padding-left: 1.5em;

        ul,
        ol {
            margin-bottom: 0;
        }
    }

    li > p {
        margin-top: ($line-height-computed / 2);
    }

    table {
        // scss-lint:disable DuplicateProperty
        display: block;
        width: 100%;
        margin-bottom: $line-height-computed;
        overflow: auto;
        word-break: normal;
        word-break: keep-all;
    }

    tr:nth-child(2n) {
        background-color: $table-bg-accent;
    }

    td,
    th {
        padding: $table-cell-padding;
        border: 1px solid $table-border-color;
    }

    .noborder {
        border: 0 none;

        td,
        th {
            border: 0 none;
        }
    }

    a.new {
        color: $brand-danger;
    }

    code {
        // scss-lint:disable DuplicateProperty
        padding: .2em .33em;
        border-radius: $border-radius-base;
        background-color: #f5f5f5; // IE8 fallback
        background-color: rgba(#000, .04);
        font-size: $font-size-small;
    }

    pre {
        // scss-lint:disable DuplicateProperty
        width: auto;
        margin-bottom: 1.15em;
        padding: 4px 8px;
        border: 1px solid #e7e7e7;
        border-radius: $border-radius-base;
        border-color: rgba(#000, .068);
        background-color: #f7f7f7; // IE8 fallback
        background-color: rgba(#000, .03);
        overflow-x: auto;
        overflow-y: hidden;
        font-size: $font-size-small;

        code {
            padding: 0;
            border-radius: 0;
            background-color: transparent;
            font-size: 1em;
        }
    }

    .toc {
        margin-bottom: $line-height-computed;
        margin-left: 0;
        padding: 0;
        list-style-type: none;

        &.right,
        &.left {
            max-width: 45%;
            padding: 8px;
            border: 1px solid $highlight-border;
            border-radius: $border-radius-base;
            background-color: $highlight-bg;
            font-size: $font-size-small;
            box-shadow: $panel-shadow;

            a {
                color: $highlight-text;
                font-weight: normal;
                text-decoration: none;

                &:hover {
                    color: darken($highlight-text, 10%);
                    text-decoration: underline;
                }
            }
        }

        &.right {
            margin-right: 0;
            margin-left: $line-height-computed;
            float: right;
        }

        &.left {
            margin-right: $line-height-computed;
            margin-left: 0;
            float: left;
        }

        ul {
            margin: 0;
            padding: 0;
            font-size: $font-size-small;

            ul {
                font-size: 1em;
            }
        }

        li {
            // scss-lint:disable SelectorDepth
            margin: 0;

            li {
                list-style-type: disc;
                margin-left: 1.5em;

                li {
                    list-style-type: circle;

                    li {
                        list-style-type: square;
                    }
                }
            }
        }

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .wiki-anchor {
        display: none;
        position: relative;
        top: -(1em - $font-size-small);
        margin-left: 5px;
        color: $gray-lighter !important;
        font-size: $font-size-small;
        text-decoration: none !important;
    }

    &:hover {
        .wiki-anchor {
            display: inline;
        }
    }
}

p.footnote {
    margin-bottom: 5px;

    &:before {
        display: block;
        width: 300px;
        margin-top:  $line-height-computed;
        padding-top: $line-height-computed / 2;
        border-top: 1px solid $gray-lighter;
        content: "";
    }

    + p.footnote:before {
        display: none;
    }
}

.preview {
    margin-top: $line-height-computed;
    padding: $padding-wiki;
    background-color: #fffbe5;
    background-image: url("../images/draft.png");
    background-position: center center;

    html[lang="pl"] & {
        background-image: url("../images/draft-pl.png");
    }
}

#wiki_add_attachment {
    padding-top: $line-height-computed;
    border-top: 1px solid $gray-lighter;

    > p {
        float: left;
    }

    #add_attachment_form {
        clear: left;
    }
}

.controller-wiki.action-show {
    .other-formats {
        margin-top: 0;
        float: right;
    }
}


//
// Custom classes for Bootstrap-like features
// --------------------------------------------------

/**
 * Pager
 * see: http://getbootstrap.com/components/#pagination-pager
 */
.wiki-pager {
    > a {
        display: inline-block;
        padding: $padding-base-vertical $padding-base-horizontal;
        border: 1px solid $btn-default-border;
        border-radius: ceil($font-size-base + ($padding-base-vertical + 1px) * 2) / 2;
        background-color: $body-bg;
        line-height: 1;
        white-space: nowrap;

        &:hover,
        &:focus,
        &:active {
            background-color: $btn-default-bg;
            text-decoration: none;
        }
    }

    &.wiki-pager--aligned {
        overflow: hidden;

        > a:first-child {
            float: left;
        }

        > a:last-child {
            float: right;
        }
    }
}

/**
 * Typographic helper classes
 */

// Lead body copy
// see: http://getbootstrap.com/css/#lead-body-copy
.lead {
    margin-bottom: $line-height-computed;
    font-size: floor(($font-size-base * 1.15));
    font-weight: 300;
    line-height: 1.4;

    @media (min-width: $screen-sm-min) {
        font-size: ($font-size-base * 1.5);
    }
}

// Alignment
// see: http://getbootstrap.com/css/#type-alignment
.text-left       { text-align: left; }
.text-right      { text-align: right; }
.text-center     { text-align: center; }
.text-justify    { text-align: justify; }
.text-nowrap     { white-space: nowrap; }

// Transformation
// see: http://getbootstrap.com/css/#type-transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

/**
 * Other helper classes
 * see: http://getbootstrap.com/css/#helper-classes
 */

.text-muted      { color: $gray-light; }
.text-primary    { color: $brand-primary; }
.text-success    { color: $brand-success; }
.text-info       { color: $brand-info; }
.text-warning    { color: $brand-warning; }
.text-danger     { color: $brand-danger; }

.bg-primary      { background-color: $brand-primary; }
.bg-success      { background-color: $state-success; }
.bg-info         { background-color: $state-info; }
.bg-warning      { background-color: $state-warning; }
.bg-danger       { background-color: $state-danger; }

p {
    &.bg-primary
    &.bg-success
    &.bg-info
    &.bg-warning
    &.bg-danger {
        padding: $panel-body-padding;
    }
}
