// Clearfix
//
// Source: http://cssmojo.com/the-very-latest-clearfix-reloaded/

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

%clearfix {
  @include clearfix;
}
