// Some really nice looking shadows

@mixin nice-shadow($depth: 1) {
  $shadow: none;

  @if ($depth == 1) {
    $shadow: 0 1px 2px rgba(#000, .25);
  } @else if ($depth == 2) {
    $shadow: 0 5px 8px -2px rgba(#000, .25), 0 1px 2px rgba(#000, .3);
  } @else if ($depth == 3) {
    $shadow: 0 8px 16px -3px rgba(#000, .25), 0 2px 4px rgba(#000, .3);
  } @else if ($depth == 4) {
    $shadow: 0 14px 24px -4px rgba(#000, .25), 0 3px 10px rgba(#000, .3);
  } @else if ($depth == 5) {
    $shadow: 0 20px 32px -2px rgba(#000, .25), 0 4px 12px rgba(#000, .3);
  }

  box-shadow: $shadow;
}
