// Some really nice looking shadows

@mixin nice-shadow($depth: 1) {
  $shadow: none;

  @if ($depth == 1) {
    $shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24);
  } @elseif ($depth == 2) {
    $shadow: 0 3px 6px rgba(#000, .16), 0 3px 6px rgba(#000, .23);
  } @elseif ($depth == 3) {
    $shadow: 0 10px 18px rgba(#000, .19), 0 6px 8px rgba(#000, .23);
  } @elseif ($depth == 4) {
    $shadow: 0 14px 28px rgba(#000, .25), 0 10px 10px rgba(#000, .22);
  } @elseif ($depth == 5) {
    $shadow: 0 19px 38px rgba(#000, .3), 0 15px 12px rgba(#000, .22);
  }

  box-shadow: $shadow;
}
